$secondary-blue: #2884ff;
$prim-grey: #acb9c4;

.statistics-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: auto;
    height: 32vh;
    margin: 20px 0px;
    border-radius: 15px;
    padding: 15px 30px;
    box-sizing: border-box;

    .statistic-selector {
        display: flex;
        justify-content: space-between;
        margin: 4% 0;
        font-size: 0.8rem;
        font-weight: 500;

        .btn-container {
            .selected {
                background-color: $secondary-blue;
                padding: 3px 10px;
                border-radius: 15px;
                color: white;
            }
            button {
                border: none;
                background-color: transparent;
                font-size: 0.75rem;

                &:hover {
                    background-color: $prim-grey;
                    padding: 3px 10px;
                    border-radius: 15px;
                    color: white;
                }
            }
        }
    }
}
