.side-bar-links-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    .option {
        padding: 10px;
        border-radius: 6px;
        &.active {
            background-color: #f3f5f8;
        }
    }
}
