.address-info {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    color: #7c7c8d;
    font-weight: 500;
    font-size: 1.1rem;

    .row {
        display: flex;
        gap: 5vw;
        flex-wrap: wrap;
    }
}
