.notes-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 20px 25px;

    .notes {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .note {
            display: flex;
            gap: 20px;

            .note-icon {
                align-self: center;
                scale: 120%;

                svg {
                    padding: 10px;
                    border-radius: 100%;
                    box-shadow: 0px 2px 4px 0px #93909033;
                }
            }

            .note-info {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .status {
                    background-color: #eceef0;
                    width: fit-content;
                    padding: 5px 15px;
                    border-radius: 7px;
                    font-size: 14px;
                    font-weight: 400;

                    &.completed {
                        text-transform: uppercase;
                        color: white;
                        background-color: #70cf97;
                    }
                }
            }
        }
    }
}
