$prim-purp: #a162f7;

.remember-me-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    @media (max-width: 320px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    a {
        color: $prim-purp;
        font-weight: 500;
    }

    #rememberMe {
        margin-right: 10px;
        accent-color: $prim-purp;
    }
}
