$prim-grey: #e0e4e7;
$prim-dark: #242731;
$prim-purp: #a162f7;
$google-blue: #357ae8;
$facebook-blue: #4776d0;

.button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  border-radius: 8px;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 0.5% 15px;
  line-height: 50px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  font-weight: 600;
  font-family: "DM Sans";
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.Google {
    background: transparent;
    color: black;
    border: 1px solid lightgray;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      background-color: $google-blue;
      color: white;
    }
  }
  &.Facebook {
    background-color: $facebook-blue;
    color: white;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      background-color: $google-blue;
      border: none;
    }
  }

  &.Primary {
    background-color: $prim-purp;
    color: white;
    border: none;

    &:hover {
      color: $prim-purp;
      background-color: white;

      border: 1px solid $prim-purp;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
