.sell-page-container {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;

    .title {
        font-weight: 700;
        font-size: 2rem;
    }
    .cars-container {
        display: flex;
        gap: 150px;
    }
    .offers-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
