.station-card-container {
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
    color: rgba(114, 118, 124, 1);
    font-weight: 700;

    &:hover {
        cursor: pointer;
    }

    &.booked {
        background-color: rgba(255, 99, 112, 1);
        color: rgba(255, 255, 255, 1);
    }
    &.current {
        background-color: rgba(161, 98, 247, 1);
        color: rgba(255, 255, 255, 1);
    }
}
