.active-chat-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-content: center;
    border: 1px solid rgba(233, 233, 242, 1);
    border-radius: 10px;

    .left-col {
        display: flex;
        gap: 10px;
        input {
            border: none;
            font-size: 1.2rem;
            &:focus {
                outline: none;
            }
        }
    }

    .right-col {
        button {
            background-color: transparent;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
