$prim-grey: #acb9c4;

a{
  text-decoration: none;
  color: black;
}

body {
  overflow: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'DM Sans'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(215, 215, 215, 0.178);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
