$dark-grey: #a4a5a6;
$prim-purp: #a162f7;
$light-grey: rgba(128, 128, 128, 0.24);

.get-started-container {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        margin-bottom: 10px;
        @media (max-width: 470px) {
            margin-bottom: 0px;
        }
    }
    span {
        color: $dark-grey;

        a {
            color: $prim-purp;
            font-weight: 500;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .divider {
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        font-weight: 600;
        color: $dark-grey;
    }

    .divider::before,
    .divider::after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid $light-grey;
        margin: auto;
    }
}
