.settings-page-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 10px 20px;
    padding: 3%;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .tabs-container {
        display: flex;
        gap: 5vw;
        flex-wrap: wrap;

        a {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 5px;
            &:hover {
                background-color: rgba(161, 98, 247, 0.1);
            }
            &.active {
                background-color: rgba(161, 98, 247, 0.1);
            }
        }
    }
}
