.sign-in-container {
    margin: 5% 0;
    width: 500px;


    .form-container{
      display: flex;
      flex-direction: column;
    }
    .form-input-container{
      display: flex;
      padding-bottom: 10px;
      margin-bottom: 5%;
      flex-direction: column;
      align-items: center;
      background-color:white ;
      border-radius: 10px;
      width: 100%;
      
    }
  
    .title {
      margin: 10px 0;
    }

    
  }
  