.dashboard-container {
    display: flex;
    padding: 50px;
    overflow-y: auto;

    .dash-main-section {
        display: flex;
        gap: 25px;

        flex-direction: column;
        width: -webkit-fill-available;
        height: 100vh;

        .statistics-section {
            display: flex;
            gap: 50px;
        }
    }

    .rcmnd-cars {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
    }
}
