.dashboard-container {
    display: flex;
    padding: 50px;

    .dash-main-section {
        display: flex;
        gap: 25px;
        overflow-y: auto;
        flex-direction: column;
        width: -webkit-fill-available;
        height: 100vh;

        .statistics-section {
            display: flex;
            justify-content: center;
            gap: 8%;
        }
    }

    .rcmnd-cars {
        display: flex;
        justify-content: space-evenly;
        gap: 40px;
    }
}
