.page-container{
    display: flex;

    .main-section{
        display: flex;
        gap: 25px;
        flex-direction: column;
        width: -webkit-fill-available;
        height: 100%;
        overflow-y: auto;

        
    }
}